body {
	width: 100vw;
	height: 100vh;
	background-color: #272822;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
	color: #F8F8F2;
}

main {
	flex: 1 1;
	display: flex;
	flex-flow: row nowrap;
	gap: 25px;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px;
}

main > * {
	flex: 0 1;
}

footer {
	flex: 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
