.FlashTimer .flash-wrapper {
	position: relative;
}

.FlashTimer .flash-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.FlashTimer .timer {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-size: 18pt;
	font-family: monospace;
}
