* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	overflow: hidden;
}

img {
	display: block;
}

.clickable {
	cursor: pointer;
	user-select: none;
}

.disabled {
	filter: grayscale(100%);
	opacity: 50%;
}
